@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

.main-container {
  min-height: 60vh;
}

a:focus,
input:focus {
  outline-style: dotted;
  outline-width: 3px;
}

.links-decoration a {
  text-decoration: none;
  color: #223357;
}

.links-decoration a > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rent-form {
  margin: 20px 0;
  background-color: #eeeeee;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 2px #f5f5f5;
          box-shadow: 0px 0px 5px 2px #f5f5f5;
}

.search-form {
  position: relative;
  margin-top: 1px;
  padding: 10px;
}

.search-input {
  color: #fff;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  width: 100%;
  padding: 5px 10px;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.full-header {
  min-height: 15vh;
  background-color: #223357;
  padding: 15px;
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 20px;
}

.header-slim .menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-title {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: -5px;
  padding-top: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-title span {
  display: inline-block;
  position: relative;
}

.header-title span::before, .header-title span::after {
  position: absolute;
  content: '';
  top: 50%;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 20px;
}

.header-title span::after {
  left: 100%;
}

.header-title span::before {
  right: 100%;
}

.header-title a {
  color: #fff;
}

.header-logo {
  position: absolute;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-logo #godlo {
  background: url("../Images/godlo.png") center no-repeat;
  opacity: 1;
  top: 5px;
  bottom: 5px;
  left: 50%;
  display: inline-block;
  height: 40px;
  width: 30px;
  background-size: contain;
}

.header-logo #logo-pb {
  background: url("../Images/logo-pb-w.png") center no-repeat;
  display: inline-block;
  height: 40px;
  width: 160px;
  margin: 10px;
  background-size: contain;
  border-left: solid 1px #fff;
}

.header-search {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  right: 0;
  display: block;
  color: #fff;
  margin-right: 10px;
}

.header-search input {
  border: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding: 5px 3px;
  width: 210px;
}

.header-search input::-webkit-input-placeholder {
  color: white;
  font-size: 1rem;
}

.header-search input:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.header-search input::-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.header-search input::placeholder {
  color: white;
  font-size: 1rem;
}

.header-search button {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -12px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.custom-search {
  position: relative;
  width: 210px;
}

.custom-search input {
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  padding: 5px 3px;
  width: 210px;
}

.custom-search input::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
}

.custom-search input:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.custom-search input::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.custom-search input::placeholder {
  color: black;
  font-size: 1rem;
}

.custom-search button {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -12px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.burger {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 20;
  display: block;
  cursor: pointer;
  position: relative;
}

.burger div {
  width: 30px;
  height: 2.5px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.burger::before {
  content: 'MENU';
  color: #fff;
  position: absolute;
  top: -15px;
  font-size: 0.8rem;
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

.boxlink {
  width: 300px;
  margin-bottom: 30px;
  overflow: hidden;
}

.boxlink a {
  height: 100%;
  display: block;
  text-decoration: none !important;
}

.boxlink img {
  display: block;
  width: 100%;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  background: center no-repeat;
  background-size: cover;
}

.boxlink:hover .boxlink-content:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.boxlink:hover .boxlink-content:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.2;
}

.zoomIn {
  -webkit-animation-name: boxlinkFadeIn;
          animation-name: boxlinkFadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.boxlink-content {
  position: relative;
}

.boxlink-content::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #223357;
}

.boxlink-content::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  content: '';
  background: url("../Images/link.png") center no-repeat;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: solid 2px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

.boxlink-title {
  display: block;
  background-color: #223357;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px 15px;
  font-weight: 300;
  margin-bottom: 1px;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  border-top: 1px solid #efefef;
}

.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu {
  background: #dedede;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px 5px;
}

.list > li {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.inner-list {
  list-style: none;
}

.inner-list li a {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  padding: 5px 2px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.inner-list li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
}

.inner-list li b {
  border-bottom: 1px solid rgba(34, 51, 87, 0.7);
}

.inner-list li:first-child {
  margin-bottom: 10px;
}

.collapse {
  height: 0;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  width: 100%;
  overflow-y: hidden;
  left: 0;
  z-index: 1;
}

.in {
  height: 230px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.home-grid {
  margin: 5rem auto;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.resource-grid {
  margin: 5rem auto;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-container {
  padding: 5rem;
}

.employees-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.employees-form div {
  width: 130px !important;
  margin: 0 5px;
}

.page-title {
  margin: 2rem 0;
}

.lab-card {
  width: 240px;
  display: block;
  border: 2px solid #223357;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  word-break: break-all;
}

.lab-card a {
  height: 100%;
  display: block;
  text-decoration: none !important;
}

.lab-card .lab-card-content h4,
.lab-card .lab-card-content h5 {
  margin: 0;
  padding: 5px;
  color: #272727;
}

.lab-card .lab-card-content p {
  margin: 0;
  font-size: 0.8rem;
  padding: 2px 5px;
}

.lab-card:hover {
  background-color: #223357;
}

.lab-card:hover .lab-card-content h4,
.lab-card:hover .lab-card-content h5,
.lab-card:hover .lab-card-content p {
  color: white;
}

.labs-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.lab-details {
  display: block;
  margin: 4rem 0;
}

.lab-details .lab-details-title {
  text-align: center;
  margin-bottom: 2rem;
}

.lab-details .lab-details-content > p {
  margin: 15px 0;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  width: 90%;
}

.form-grid button {
  margin-top: 10px;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
}

.image-details {
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.image-details img {
  width: 100%;
}

.page-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.page-details .image-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 40%;
}

.page-details .page-details-content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 60%;
}

.page-title-banner {
  background-color: #2b333e;
  padding: 0;
  margin: 0 auto;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content {
  text-align: end;
  padding: 0 20px;
  width: 40%;
  color: white;
}

.banner-content p:first-child {
  font-size: 1.6rem;
}

.banner-content p {
  font-size: 1.4rem;
}

.banner-content a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.banner-content a:hover {
  opacity: 0.4;
}

.banner-img {
  width: 60%;
  padding: 0;
}

.banner-img img {
  width: 100%;
  max-height: 70vh;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.resource-list-container {
  padding: 2rem 1rem;
}

.login-alert {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-alert h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-alert h3::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -3px;
  border-bottom: 2px dotted #d84848;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.resource-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.resource-list-item a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

@media only screen and (max-width: 1280px) {
  .home-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .home-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .in {
    height: 480px;
  }
  .list > li {
    width: 48%;
    margin: 20px auto;
  }
  .full-header {
    min-height: 22vh;
  }
  .header-title {
    font-size: 0.8rem;
  }
  .header-title span::before, .header-title span::after {
    width: 40px;
    margin: 0;
  }
  .header-logo {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-bottom: 10px;
  }
  .burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lab-details {
    display: block;
  }
  .page-details {
    display: block;
  }
  .page-details .page-details-content {
    width: 100%;
  }
  .page-details .image-details {
    width: 100%;
  }
  .image-details {
    width: 250px;
  }
  .banner {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .banner-content {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
  }
  .banner-img {
    width: 100%;
  }
}

@media only screen and (max-width: 476px) {
  .in {
    height: 600px;
  }
  .inner-list {
    padding: 0 10px;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes boxlinkFadeIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes boxlinkFadeIn {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
/*# sourceMappingURL=app.css.map */